body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    margin-bottom: 20px;
}

.assessment-form-container {
    background-color: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f0f0f0;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

.hidden-radio {
    display: none;
}

.cell-label {
    cursor: pointer;
    display: block;
    padding: 5px 10px;
}

input[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.hidden-radio:checked + .cell-label {
    background-color: #4CAF50; /* Change color as needed */
    color: white;
    border-radius: 5px;
}

.cell-label {
    cursor: pointer;
    display: block;
    padding: 5px 10px;
    border: 1px solid #ddd; /* Add a border for better visibility */
    border-radius: 5px;
    margin: 2px; /* Optional: Adds a small margin around labels */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.results-container {
    background-color: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 600px; /* Adjust as needed */
    margin: auto;
}

.results-list {
    list-style-type: none;
    padding: 0;
}

.results-list li {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.results-list li:nth-child(even) {
    background-color: #f0f0f0;
}

.score {
    font-size: 1.5em;
    margin-top: 20px;
    color: #4CAF50; /* Adjust color as needed */
}

