<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mangrove Assessment</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="assessment-form-container">
        <h1>Assessment for {{ mangrove_type.replace('_', ' ').title() }}</h1>

        <form action="{{ url_for('results') }}" method="post">
            <input type="hidden" name="mangrove_type" value="{{ mangrove_type }}">
            <table>
                <thead>
                    <tr>
                        <th>Parameter</th>
                        <th>Option 1</th>
                        <th>Option 2</th>
                        <th>Option 3</th>
                        <th>Option 4</th>
                    </tr>
                </thead>
                <tbody>
                    {% for parameter, ranges in parameters.items() %}
                    <tr>
                        <td>{{ parameter }}</td>
                        {% for range in ranges %}
                        <td>
                            <input type="radio" name="{{ parameter }}" value="{{ range }}" id="{{ parameter }}_{{ loop.index }}" class="hidden-radio">
                            <label for="{{ parameter }}_{{ loop.index }}" class="cell-label">{{ range }}</label>
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>
